.wpformbuilder-repeater-map-field{
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    margin-bottom: 15px;
}
.wpformbuilder-repeater-map-field-panel{
    border: 1px solid #abaaaa !important;
    margin-bottom: 10px;
}
.wpformbuilder-repeater-map-field-panel.is-opened button.components-panel__body-toggle{
    border-bottom: 1px solid #abaaaa;

}
.wpformbuilder-repeater-map-field-panel button.components-panel__body-toggle:focus{
    box-shadow: none !important;
    outline: none !important;
}
.wpformbuilder-repeater-map-field-panel button.components-panel__body-toggle svg.fa-xmark{
    position: absolute;
    top: 1px;
    right: 0px;
    background: #e71919;
    padding: 4px;
    color: #fff;
}
.wpformbuilder-repeater-map-field-panel button.components-panel__body-toggle svg.fa-xmark:hover{
    background: red;
}